/*Heading Section*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
}
header{
  background-color: #00eeff;
}
li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 0px 35px;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

}
.nav-branding{
  font-size: 2rem;
}
.nav-branding>img{
  height: 70px;

}
a:hover{
  cursor: pointer;
  border-bottom: 2px solid #1e1f1f ;
  transition: .2s ease-in;
}

.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
background-color:white;
}
    /*Main Area*/
    .main{
      display: flex;
    justify-content: space-between;
      background-color: #eeeaea;
      height: 500px;
  }
  .firstdiv{
      background-image: url(
 https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
         );
      width: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }
  .seconddiv{
      background-image: url(
          https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
      width: 50%;
    
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }
  /*About Us*/
  h1{
      color: #131212;
      text-align: center;
      background-color: #00eeff;
  }
  .aboutus{
      margin-top: 10px;
      padding-left: 50px;
    background-color: #00eeff;
  }
  .aboutus>p{
      font-size: larger;
      font-weight: 600;
  }
  /*Services*/
  .h1service{
    background-color: #00eeff;
    color: #000000;
    margin-top: 5px;
    text-align: center;
}
  .services{
      display: flex;
      justify-content: space-evenly;
      margin-top: 20px;
      
  }
  .div1{
      display: flex;
      flex-direction: column;
      color: #00eeff;
      align-items: center;
      font-size:x-large;
      font-weight: 600;
      gap: 5px;
      cursor: pointer;
    
  }
  .div2{
      display: flex;
      flex-direction: column;
      color: #00eeff;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      font-size:x-large;
     
      font-weight: 600;
  }
  .div1>img{
      border: 5px solid #00eeff;
  }
  .div2>img{
      border: 5px solid #00eeff;
  }
  .div3>img{
      border: 5px solid #00eeff;
  }
  .div3{
      display: flex;
      flex-direction: column;
    
      color: #00eeff;
      align-items: center;
      gap: 5px;
      font-size:x-large;
      font-weight: 600;
      cursor: pointer;
  }
  .div4{
      display: flex;
      flex-direction: column;
    
      color: #00eeff;
      align-items: center;
      gap: 5px;
      font-size:x-large ;
      font-weight: 600;
      cursor: pointer;
  }
  .div4>img:hover{
      box-shadow: 0px 0px 20px 10px #00eeff;
      transition: .3s ease-in;
  }
  .div3>img:hover{
      box-shadow: 0px 0px 20px 10px #00eeff;
      transition: .3s ease-in;
  }
  .div2>img:hover{
      box-shadow: 0px 0px 20px 10px #00eeff;
      transition: .3s ease-in;
  }
  .div1>img:hover{
      box-shadow: 0px 0px 20px 10px #00eeff;
      transition: .3s ease-in;
  }
  .div4>img{
      border: 5px solid #00eeff;
  }
  .services>div>img{
      height: 200px;
  }
  /*Contact Us*/
  .contactus{
      text-align: center;
    background-color:  #00eeff;
  
  }
  .contactus>h1{
      color:  #0d0d0e;
  }
  #email{
  color: rgb(0, 102, 255);
  }
  /*about us 2.0 */
  .unique{
      text-align: end;
      padding-right: 100px;
  }
  .unique2{
      text-align: end;
      padding-right: 10px;
  }
@media screen and (max-width:300px){
  .hamburger{
    display: block;
}
.hamburger.active.bar:nth-child(2){
    opacity: 0;
}
.hamburger.active.bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.navbar{
  padding: 0px 24px 0px 30px;
}
.bar{
  background-color: #000000;
}
.nav-menu{
    position: fixed;
    left: -100%;
    gap: 0;
    top: 70px;
    flex-direction: column;
    background-color: #00eeff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.nav-item{
margin: 16px 0;
}
.nav-menu.active{
left: 0;
}
/*Main Area*/
.main{
display: flex;
flex-direction: column;
background-color: #eeeaea;
height: 500px;
}
.firstdiv{
background-image: url(
  https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
   );
width: 100%;
background-repeat: no-repeat;
background-size: cover;
height: 50%;
}
.seconddiv{
background-image: url(
    https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
width: 100%;

background-repeat: no-repeat;
background-size: cover;
height: 50%;
}
/*About Us*/
h1{
color: #131212;
text-align: center;
background-color: #00eeff;
}
.aboutus{

padding-left: 20px;
background-color: #00eeff;
}
.aboutus>p{
font-size: larger;
font-weight: 600;

}
/*about us 2.0 */
.unique{
    text-align: end;
    padding-right: 100px;
}
.unique2{
    text-align: end;
    padding-right: 10px;
}


/*Services*/
.h1service{
background-color: #00eeff;
color: #000000;
margin-top: 5px;
text-align: center;
}
.services{
display: flex;
justify-content: space-evenly;
flex-direction: column;
margin-top: 20px;

}
.div1{
display: flex;
flex-direction: column;
color: #00eeff;
align-items: center;
font-size:x-large;
font-weight: 600;
gap: 5px;
cursor: pointer;

}
.div2{
display: flex;
flex-direction: column;
color: #00eeff;
gap: 5px;
align-items: center;
cursor: pointer;
font-size:x-large;

font-weight: 600;
}
.div1>img{
border: 5px solid #00eeff;
}
.div2>img{
border: 5px solid #00eeff;
}
.div3>img{
border: 5px solid #00eeff;
}
.div3{
display: flex;
flex-direction: column;

color: #00eeff;
align-items: center;
gap: 5px;
font-size:x-large;
font-weight: 600;
cursor: pointer;
}
.div4{
display: flex;
flex-direction: column;

color: #00eeff;
align-items: center;
gap: 5px;
font-size:x-large ;
font-weight: 600;
cursor: pointer;
}
.div4>img:hover{
box-shadow: 0px 0px 20px 10px #00eeff;
transition: .3s ease-in;
}
.div3>img:hover{
box-shadow: 0px 0px 20px 10px #00eeff;
transition: .3s ease-in;
}
.div2>img:hover{
box-shadow: 0px 0px 20px 10px #00eeff;
transition: .3s ease-in;
}
.div1>img:hover{
box-shadow: 0px 0px 20px 10px #00eeff;
transition: .3s ease-in;
}
.div4>img{
border: 5px solid #00eeff;
}
.services>div>img{
height: 200px;
width: 90%
}
.services>div>span{
  font-size: 20px;
}
/*Contact Us*/
.contactus{
    text-align: center;
  background-color:  #00eeff;

}
.contactus>h1{
    color:  #0d0d0e;
}
#email{
color: rgb(0, 102, 255);
font-size:17px;

}



}
@media screen and (min-width:300px) and (max-width:320px){
  .hamburger{
      display: block;
  }
  .hamburger.active.bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active.bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active.bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .navbar{
    padding: 0px 24px 0px 30px;
  }
  .bar{
    background-color: #000000;
  }
  .nav-menu{
      position: fixed;
      left: -100%;
      gap: 0;
      top: 70px;
      flex-direction: column;
      background-color: #00eeff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }
.nav-item{
  margin: 16px 0;
}
.nav-menu.active{
  left: 0;
}
 /*Main Area*/
 .main{
  display: flex;
flex-direction: column;
  background-color: #eeeaea;
height: 500px;
}
.firstdiv{
  background-image: url(
    https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
     );
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
.seconddiv{
  background-image: url(
      https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
/*About Us*/
h1{
  color: #131212;
  text-align: center;
  background-color: #00eeff;
}
.aboutus{

  padding-left: 20px;
background-color: #00eeff;
}
.aboutus>p{
  font-size: larger;
  font-weight: 600;
}
/*about us 2.0 */
  .unique{
      text-align: end;
      padding-right: 100px;
  }
  .unique2{
      text-align: end;
      padding-right: 10px;
  }


/*Services*/
.h1service{
  background-color: #00eeff;
  color: #000000;
  margin-top: 5px;
  text-align: center;
}
.services{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  
}
.div1{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  align-items: center;
  font-size:x-large;
  font-weight: 600;
  gap: 5px;
  cursor: pointer;

}
.div2{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size:x-large;
 
  font-weight: 600;
}
.div1>img{
  border: 5px solid #00eeff;
}
.div2>img{
  border: 5px solid #00eeff;
}
.div3>img{
  border: 5px solid #00eeff;
}
.div3{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large;
  font-weight: 600;
  cursor: pointer;
}
.div4{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large ;
  font-weight: 600;
  cursor: pointer;
}
.div4>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div3>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div2>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div1>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div4>img{
  border: 5px solid #00eeff;
}
.services>div>img{
  height: 200px;
}
/*Contact Us*/
  .contactus{
      text-align: center;
    background-color:  #00eeff;
  
  }
  .contactus>h1{
      color:  #0d0d0e;
  }
  #email{
  color: rgb(0, 102, 255);
  }
 
}
@media screen and (min-width:320px) and (max-width:480px){
  .hamburger{
      display: block;
  }
  .hamburger.active.bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active.bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active.bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .navbar{
    padding: 0px 24px 0px 30px;
  }
  .bar{
    background-color: #000000;
  }
  .nav-menu{
      position: fixed;
      left: -100%;
      gap: 0;
      top: 70px;
      flex-direction: column;
      background-color: #00eeff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }
.nav-item{
  margin: 16px 0;
}
.nav-menu.active{
  left: 0;
}
 /*Main Area*/
 .main{
  display: flex;
flex-direction: column;
  background-color: #eeeaea;
height: 500px;
}
.firstdiv{
  background-image: url(
    https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
     );
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
.seconddiv{
  background-image: url(
      https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
/*About Us*/
h1{
  color: #131212;
  text-align: center;
  background-color: #00eeff;
}
.aboutus{

  padding-left: 20px;
background-color: #00eeff;
}
.aboutus>p{
  font-size: larger;
  font-weight: 600;

}
/*about us 2.0 */
  .unique{
      text-align: end;
      padding-right: 100px;
  }
  .unique2{
      text-align: end;
      padding-right: 10px;
  }


/*Services*/
.h1service{
  background-color: #00eeff;
  color: #000000;
  margin-top: 5px;
  text-align: center;
}
.services{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  
}
.div1{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  align-items: center;
  font-size:x-large;
  font-weight: 600;
  gap: 5px;
  cursor: pointer;

}
.div2{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size:x-large;
 
  font-weight: 600;
}
.div1>img{
  border: 5px solid #00eeff;
}
.div2>img{
  border: 5px solid #00eeff;
}
.div3>img{
  border: 5px solid #00eeff;
}
.div3{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large;
  font-weight: 600;
  cursor: pointer;
}
.div4{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large ;
  font-weight: 600;
  cursor: pointer;
}
.div4>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div3>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div2>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div1>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div4>img{
  border: 5px solid #00eeff;
}
.services>div>img{
  height: 200px;
}
/*Contact Us*/
  .contactus{
      text-align: center;
    background-color:  #00eeff;
  
  }
  .contactus>h1{
      color:  #0d0d0e;
  }
  #email{
  color: rgb(0, 102, 255);
  }
 
}
@media screen and (min-width:480px) and (max-width:600px){
  .hamburger{
    display: block;
}
.hamburger.active.bar:nth-child(2){
    opacity: 0;
}
.hamburger.active.bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active.bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.navbar{
  padding: 0px 24px 0px 30px;
}
.bar{
  background-color: #000000;
}
.nav-menu{
    position: fixed;
    left: -100%;
    gap: 0;
    top: 70px;
    flex-direction: column;
    background-color: #00eeff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}
.nav-item{
margin: 16px 0;
}
.nav-menu.active{
left: 0;
}
  /*Main Area*/
  .main{
    display: flex;
  flex-direction: column;
    background-color: #eeeaea;
  height: 800px;
  }
  .firstdiv{
    background-image: url(
      https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
       );
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
  }
  .seconddiv{
    background-image: url(
        https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
    width: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
  }
  /*About Us*/
  h1{
    color: #131212;
    text-align: center;
    background-color: #00eeff;
  }
  .aboutus{
  
    padding-left: 20px;
  background-color: #00eeff;
  }
  .aboutus>p{
    font-size: larger;
    font-weight: 600;
  }
  /*about us 2.0 */
    .unique{
        text-align: end;
        padding-right: 100px;
    }
    .unique2{
        text-align: end;
        padding-right: 10px;
    }
  
  
  /*Services*/
  .h1service{
    background-color: #00eeff;
    color: #000000;
    margin-top: 5px;
    text-align: center;
  }
  .services{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
    
  }
  .div1{
    display: flex;
    flex-direction: column;
    color: #00eeff;
    align-items: center;
    font-size:x-large;
    font-weight: 600;
    gap: 5px;
    cursor: pointer;
  
  }
  .div2{
    display: flex;
    flex-direction: column;
    color: #00eeff;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    font-size:x-large;
   
    font-weight: 600;
  }
  .div1>img{
    border: 5px solid #00eeff;
  }
  .div2>img{
    border: 5px solid #00eeff;
  }
  .div3>img{
    border: 5px solid #00eeff;
  }
  .div3{
    display: flex;
    flex-direction: column;
  
    color: #00eeff;
    align-items: center;
    gap: 5px;
    font-size:x-large;
    font-weight: 600;
    cursor: pointer;
  }
  .div4{
    display: flex;
    flex-direction: column;
  
    color: #00eeff;
    align-items: center;
    gap: 5px;
    font-size:x-large ;
    font-weight: 600;
    cursor: pointer;
  }
  .div4>img:hover{
    box-shadow: 0px 0px 20px 10px #00eeff;
    transition: .3s ease-in;
  }
  .div3>img:hover{
    box-shadow: 0px 0px 20px 10px #00eeff;
    transition: .3s ease-in;
  }
  .div2>img:hover{
    box-shadow: 0px 0px 20px 10px #00eeff;
    transition: .3s ease-in;
  }
  .div1>img:hover{
    box-shadow: 0px 0px 20px 10px #00eeff;
    transition: .3s ease-in;
  }
  .div4>img{
    border: 5px solid #00eeff;
  }
  .services>div>img{
    height: 200px;
  }
  /*Contact Us*/
    .contactus{
        text-align: center;
      background-color:  #00eeff;
    
    }
    .contactus>h1{
        color:  #0d0d0e;
    }
    #email{
    color: rgb(0, 102, 255);
    }
   
  }
 @media screen and (min-width:600px) and (max-width:769px){
    .hamburger{
        display: block;
    }
    .hamburger.active.bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
      padding: 0px 24px 0px 30px;
    }
    .bar{
      background-color: #000000;
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        gap: 0;
        top: 70px;
        flex-direction: column;
        background-color: #00eeff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
     /*Main Area*/
.main{
  display: flex;
  flex-direction: column;
  background-color: #eeeaea;
height: 800px;
}
.firstdiv{
  background-image: url(
    https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
     );
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
.seconddiv{
  background-image: url(
      https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
/*About Us*/
h1{
  color: #131212;
  text-align: center;
  background-color: #00eeff;
}
.aboutus{

  padding-left: 20px;
background-color: #00eeff;
}
.aboutus>p{
  font-size: larger;
  font-weight: 600;
}
/*about us 2.0 */
  .unique{
      text-align: end;
      padding-right: 100px;
  }
  .unique2{
      text-align: end;
      padding-right: 10px;
  }


/*Services*/
.h1service{
  background-color: #00eeff;
  color: #000000;
  margin-top: 5px;
  text-align: center;
}
.services{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  
}
.div1{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  align-items: center;
  font-size:x-large;
  font-weight: 600;
  gap: 5px;
  cursor: pointer;

}
.div2{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size:x-large;
 
  font-weight: 600;
}
.div1>img{
  border: 5px solid #00eeff;
}
.div2>img{
  border: 5px solid #00eeff;
}
.div3>img{
  border: 5px solid #00eeff;
}
.div3{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large;
  font-weight: 600;
  cursor: pointer;
}
.div4{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large ;
  font-weight: 600;
  cursor: pointer;
}
.div4>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div3>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div2>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div1>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div4>img{
  border: 5px solid #00eeff;
}
.services>div>img{
  height: 200px;
}
/*Contact Us*/
  .contactus{
      text-align: center;
    background-color:  #00eeff;
  
  }
  .contactus>h1{
      color:  #0d0d0e;
  }
  #email{
  color: rgb(0, 102, 255);
  }
 
}

  @media screen and (min-width:769px) and (max-width:900px){
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body{
      background-color: #000000;
    }
    header{
      background-color: #00eeff;
    }
    li{
      list-style: none;
    }
    a{
      color: black;
      text-decoration: none;
      font-size: large;
      font-weight: bolder;
    }
    .navbar{
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 80px 0px 35px;
    }
    .nav-menu{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
    
    }
    .nav-branding{
      font-size: 2rem;
    }
    .nav-branding>img{
      height: 70px;
    
    }
    a:hover{
      cursor: pointer;
      border-bottom: 2px solid #1e1f1f ;
      transition: .2s ease-in;
    }
    
    .hamburger{
      display: none;
      cursor: pointer;
    }
    .bar{
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    background-color:white;
    }
    

      /*Main Area*/
.main{
  display: flex;
  flex-direction: column;
  background-color: #eeeaea;
height: 1200px;
}
.firstdiv{
  background-image: url(
    https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
     );
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
.seconddiv{
  background-image: url(
      https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
/*About Us*/
h1{
  color: #131212;
  text-align: center;
  background-color: #00eeff;
}
.aboutus{

  padding-left: 20px;
background-color: #00eeff;
}
.aboutus>p{
  font-size: larger;
  font-weight: 600;
}
/*about us 2.0 */
  .unique{
      text-align: end;
      padding-right: 100px;
  }
  .unique2{
      text-align: end;
      padding-right: 10px;
  }


/*Services*/
.h1service{
  background-color: #00eeff;
  color: #000000;
  margin-top: 5px;
  text-align: center;
}
.services{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  
}
.div1{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  align-items: center;
  font-size:x-large;
  font-weight: 600;
  gap: 5px;
  cursor: pointer;

}
.div2{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size:x-large;
 
  font-weight: 600;
}
.div1>img{
  border: 5px solid #00eeff;
}
.div2>img{
  border: 5px solid #00eeff;
}
.div3>img{
  border: 5px solid #00eeff;
}
.div3{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large;
  font-weight: 600;
  cursor: pointer;
}
.div4{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large ;
  font-weight: 600;
  cursor: pointer;
}
.div4>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div3>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div2>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div1>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div4>img{
  border: 5px solid #00eeff;
}
.services>div>img{
  height: 200px;
}
/*Contact Us*/
  .contactus{
      text-align: center;
    background-color:  #00eeff;
  
  }
  .contactus>h1{
      color:  #0d0d0e;
  }
  #email{
  color: rgb(0, 102, 255);
  }
 
}
@media screen and (min-width:900px) and (max-width:1024px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #000000;
  }
  header{
    background-color: #00eeff;
  }
  li{
    list-style: none;
  }
  a{
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
  }
  .navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 35px;
  }
  .nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  
  }
  .nav-branding{
    font-size: 2rem;
  }
  .nav-branding>img{
    height: 70px;
  
  }
  a:hover{
    cursor: pointer;
    border-bottom: 2px solid #1e1f1f ;
    transition: .2s ease-in;
  }
  
  .hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  background-color:white;
  }

    /*Main Area*/
.main{
  display: flex;
  flex-direction: column;
  background-color: #eeeaea;
height: 1500px;
}
.firstdiv{
  background-image: url(
    https://i.ibb.co/tQkPKFh/residential-complex-4.jpg
     );
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
.seconddiv{
  background-image: url(
      https://cdn.wallpapersafari.com/55/72/vyYZQw.jpg);
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
}
/*About Us*/
h1{
  color: #131212;
  text-align: center;
  background-color: #00eeff;
}
.aboutus{

  padding-left: 50px;
background-color: #00eeff;
}
.aboutus>p{
  font-size: larger;
  font-weight: 600;
}
/*about us 2.0 */
  .unique{
      text-align: end;
      padding-right: 100px;
  }
  .unique2{
      text-align: end;
      padding-right: 10px;
  }


/*Services*/
.h1service{
  background-color: #00eeff;
  color: #000000;
  margin-top: 5px;
  text-align: center;
 
}
.services{
  display: flex;
  justify-content: space-evenly;
 
  margin-top: 20px;
  
}
.div1{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  align-items: center;
  font-size:x-large;
  font-weight: 600;
  gap: 5px;
  cursor: pointer;

}
.div2{
  display: flex;
  flex-direction: column;
  color: #00eeff;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size:x-large;
 
  font-weight: 600;
}
.div1>span{
 display: flex;
 justify-content: center;
 align-items: center;
}
.div1>img{
  border: 5px solid #00eeff;
}
.div2>img{
  border: 5px solid #00eeff;
}
.div3>img{
  border: 5px solid #00eeff;
}
.div3{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large;
  font-weight: 600;
  cursor: pointer;
}
.div4{
  display: flex;
  flex-direction: column;

  color: #00eeff;
  align-items: center;
  gap: 5px;
  font-size:x-large ;
  font-weight: 600;
  cursor: pointer;
}
.div4>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div3>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div2>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div1>img:hover{
  box-shadow: 0px 0px 20px 10px #00eeff;
  transition: .3s ease-in;
}
.div4>img{
  border: 5px solid #00eeff;
}
.services>div>img{
  height: 200px;
  width: 95%;
}
/*Contact Us*/
  .contactus{
      text-align: center;
    background-color:  #00eeff;
  
  }
  .contactus>h1{
      color:  #0d0d0e;
  }
  #email{
  color: rgb(0, 102, 255);
  }
 
}

